
  <div id="title" class="col-sm-12">
<h1>Welcome to Smart Recipes</h1>
</div>
<div class="container">
<div class="row">
<div id="favoritesTitle" class="col-sm-3" >
  <p>  Favorites</p>



</div>
<div id="fridgeTitle" class="col-sm-6">
<p>Fridge</p>
</div>


<div id="recipesTitle" class="col-sm-3">
<p>  Recipes</p>
</div>

<br><br>

  <div class="col-sm-3" >

    <ul class="list-group">
    <% @favorites.each do |favorites| %>
    <li  id='favorites'class="list-group-item " ><span class="glyphicon glyphicon-star pull-left " style="color:yellow "></span> <%= link_to favorites.fav_name ,favorites.recipe_link%></li>
    <% end %>
    </ul>


  </div>
  <div class="col-sm-6">
    <!-- <h1>Listing Ingredients</h1> -->


    <!-- <% @ingredients.each do |ingredients| %>
      <tr>
        <td><%= ingredients.ing_name%></td>

      </tr>
    <% end %> -->

    <ul class="list-group">
    <% @ingredients.each do |ingredients| %>
    <li class="list-group-item " ><%= ingredients.ing_name%><span class="glyphicon glyphicon-remove  pull-right " style="color:maroon "></span></li>
    <% end %>
    </ul>

    <br>
  </div>
  <div class="col-sm-3">

  </div>
</div>
</div>
<!---<div class="center jumbotron">

</div>
<div>
-->



<!--<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>
-->
