body {
    background-color: #ccc;
}
li{
  font-size: 0.5em;
}

.bg-maroon {
    background-color: #841515;
}

.footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 30px;
}

.footer p {
    margin: 10px;
}

.information {
    padding: 50px 0;
    background-color: #ccc;
}

.information .card{
    margin: 20px 0;
/*    height: 27vh;*/
    height: 200px;
}

.information .card .btn {
    background-color: #fc2a2a;
}

.jumbotron {
    
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(https://images.unsplash.com/photo-1498837167922-ddd27525d352?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8a5e4cac8bcaf69ffaf5d3b1c2b063e4&auto=format&fit=crop&w=1950&q=80);
    background-repeat: no-repeat;
    background-size: cover;
/*    height: 60vh;*/
    /* height: 750px; */

}
.jumbotron li {
    color:black;
    font-size: 15px;
}
.jumbotron h1 {
    color: #fff;
}
.jumbotron h2 {
    color: #fff;
}
.jumbotron h3 {
    color: #fff;
}
.navbar{
  font-size: 3em;
}
.navbar-light .navbar-brand {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.carousel-section h3 {
    margin: 25px 0;
    text-align: center;
    color: #fff;
}

.carousel-section {
    background-color: #555;
}
.nav-item{

  margin: 0 10px;
}
/*Use to add the scroll bar in the API list of recipes*/
.scroll{
    overflow-y: scroll;

    height: 300px;
}
/*This is for the icons*/
* {
    margin: 0; padding: 0;
  }
  body {
    font-size: 100%;
  }
  .accordion {
    width: 380px;
    margin: 20px auto;
  /*  border: 1px solid black;*/
  }
  .accordion h1, h2, h3, h4 {
    cursor: pointer;
  }

  .accordion h1, h2, h3, h4, p {
    margin: 0 !important;
  }
  .accordion h2, h3, h4 {
    font-family: "News Cycle";
  }
  .accordion h1 {
    padding: 15px 20px;
    background-color: #f2f2f2;
    font-family: Lobster;
    font-size: 1.5rem;
    font-weight: normal;
    color: #841515;
    clear: both;
  }
  .accordion h1:hover {
    color: #ff1616;
  }
  .accordion h1:first-child {
    border-radius: 10px 10px 0 0;
  }
  .accordion h1:last-of-type {
    border-radius: 0 0 10px 10px;
  }
  .accordion h1:not(:last-of-type) {
    border-bottom: 1px dotted #1abc9c;
  }
  .accordion div, .accordion p {
    display: none;
  }
  .accordion h2 {
    padding: 5px 25px;
    background-color: #841515;
    font-size: 1.1rem;
    color: #fff;
  }
  .accordion h2:hover {
    background-color: #ff1616;
  }
  .accordion h3 {
    padding: 5px 30px;
    background-color: #b94152;
    font-size: .9rem;
    color: #ddd; 
  }
  .accordion h3:hover {
    background-color: #a93142;
  }
  .accordion h4 {
    padding: 5px 35px;
    background-color: #ffc25a;
    font-size: .9rem;
    color: #af720a; 
  }
  .accordion h4:hover {
    background-color: #e0b040;
  }
  .accordion p {
    padding: 15px 35px;
    background-color: #ddd;
    font-family: "Georgia";
    font-size: .8rem;
    color: #333;
    line-height: 1.3rem;
  }
  .accordion .opened-for-codepen {
    display: block;
  }
  
  .accordion h1 img {
      float: left;
      clear: both;
      width: 30px;
      padding: 0;
      margin: 0;
      padding-right: 5px
  }

  .format a {

    font-size: 16px;
    color: #fff;

  }

  .format a:hover {
    color: #ff1616;
    text-decoration: none;
  }

  .jumbotron-fluid {
    margin: 0 !important;
  }

  .nav-item {
    height: 40px;
  }

  .login h1{
    margin: 15px 0;
  }

  .signup h1 {
    margin: 15px 0;
  }

  .signup input {
    margin-bottom: 20px;
  }

  .login input {
    margin-bottom: 40px;
  }

  /* add style for form */
  body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: maroon;
  color: white;
  padding: 20px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  margin-left:300px;
  top: 120px;
  left: 500px;
  width: 150px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
  align-self: center;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: maroon;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}