<!-- Custom CSS -->

<section class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p>Contact Us</p>
                <p>Visit FAQ</p>
            </div>
            <div class="col-md-4">
                <p>Report an Error</p>
            </div>
            <div class="col-md-4">
                <p>Find Source Code Here</p>
            </div>
        </div>
    </div>
</section>
