<header id="header" class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Smart Recipes", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   '/static_pages/home' %></li>
        <li><%= link_to "Favorites",   '/static_pages/favorites' %></li>
      </ul>
    </nav>
  </div>
</header>
