<header id="header" class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Smart Recipes", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   '/ingredients/index' %></li>
        <li><%= link_to "Sign Up ",'/users/new' %></li>
    
      </ul>
    </nav>
  </div>
</header>
